parameters:
    level: 1
    paths:
        - ./
    excludes_analyse:
        - vendor/
        - fonts/

    # TODO review once we drop PHP 7.x support
    treatPhpDocTypesAsCertain: false

    ignoreErrors:
        - '~^Variable \$\w+ might not be defined\.$~'
